.contact{
    padding: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact .form{
    width: 45%;
}

.contact .form h2{
    font-size: 2rem;
    color: black;
    width: 100%;
    padding-bottom: 10px;
}

.contact .form .submit{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact .form .submit input, .contact .form .submit textarea{
    width: 100%;
    padding: 15px;
    border: 1px solid gray;
    outline: none;
    margin: 13px 0;
}

.contact .form .submit input:focus, .contact .form .submit textarea:focus{
    border: 1px solid black;
}

.contact .form .submit input::placeholder{
    color: darkgrey;
    font-size: 1.1rem;
}

.contact .form .submit textarea::placeholder{
    color: darkgrey;
    font-size: 1.1rem;
}

.contact .form .submit a{
    width: 100%;
    padding: 15px 0;
    text-decoration: none;
    background: rgb(47, 47, 47);
    color: white;
    text-align: center;
    margin: 13px 0;
    font-size: 1.1rem;
    border-radius: 3px;
}

.contact .map{
    width: 45%;
}

.contact .map iframe{
    width: 100%;
}

.contact .map h2{
    font-size: 32px;
    color: black;
    width: 100%;
    padding-bottom: 30px;
    margin-top: 10px;
}

.navigation-wrap{
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease-out;
    background-color: #3a62b7;
}

.navigation-wrap .nav-item{
    padding: 0 10px;
}

.navbar-toggler:focus{
    outline: unset;
    border: unset;
    box-shadow: none;
}

.nav-link{
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    color: white;
    letter-spacing: 1px;
}

.nav-link:hover{
    color: white;
}

.navigation-wrap .main-btn{
    padding: 2px 23px;
    margin-left: 1px;
}

a,
a:hover{
    text-decoration: none;
}

a:hover {
    color: white;
}

ul,ol{
    margin: 0;
    padding: 0;
}

.footer{
    padding: 20px;
    color: rgb(203, 198, 198);
    background-color: black;
    font-size: 17px;
    text-align: center;
}